.cardAlign {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .cardAlign {
    flex-direction: column;
  }
}
