<h1 class="text-center mt-2 text-success fs-1">Bienvenue dans le Movie's Verse</h1>
<img class="img-fluid imgBan" src="https://www.cia-france.fr/media/1492/les-films-incontournables-du-cinema-w_2524x884.jpg" alt="">
<h4 class="fs-4 text-center mt-2 ms-2 me-2">Films, Séries peut importe ce que vous voulez ou le format que vous souhaité chez Movie's Verse nous avons ce qu'il vous de la VHS au DVD en passant par le format USB.</h4>


@for (product of products; track $index) {
  @if (product.popular == true) {
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ product.img }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <a href="/product/{{ product.id }}" class="btn btn-primary">Voir le produit</a>
          </div>
        </div>
      </div>
    </div>
  }
}
